<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Register | CRUDTASK</title>
  <link rel="stylesheet" href="css/styles.css">
  <script src="../../src/services/auth.js" type="module"></script>
</head>
<body>

  <main class="auth-container">
    <div class="auth-card">
      <h1>Create account</h1>
      <p>Join the academic task platform</p>

      <form id="registerForm">
        <label>Full name</label>
        <input type="text" id="name" required>

        <label>Email</label>
        <input type="email" id="email" required>

        <label>Password</label>
        <input type="password" id="password" required>

        <label>Confirm password</label>
        <input type="password" id="confirmPassword" required>

        <button type="submit">Register</button>
      </form>

      <p>
        Already have an account?
        <a href="../../public/views/login.html">Sign in</a>
      </p>
    </div>
  </main>

</body>
</html>
