.index-container {
  text-align: center;
  margin-top: 150px;
}

.index-container h1 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 10px;
}

.index-container p {
  font-size: 18px;
  color: #555;
}

@media (max-width: 480px) {
  .index-container {
    margin-top: 120px;
  }

  .index-container h1 {
    font-size: 34px;
  }

  .index-container p {
    font-size: 16px;
  }
}
